* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: url("images/black-white.jpg") no-repeat center fixed;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.animate {
  position: relative;
}

.animate-left {
  opacity: 0;
  left: -500px;
  transition: left 1000ms, opacity 1000ms, transform 700ms;
}

.animate-right {
  opacity: 0;
  right: -500px;
  transition: right 1000ms, opacity 1000ms, transform 700ms;
}

.animate-left.animate-start {
  opacity: 1;
  left: 0;
}

.animate-right.animate-start {
  opacity: 1;
  right: 0;
}

#particles-js {
  background: black;
  height: 100vh;
  position: relative;
  padding: 0;
}

.underline {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#0ef4f4, #0ef4f4);
  background-size: 0 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.7s ease-out;
}

.underline-animation {
  background-size: 40% 1px, auto;
}

.header-nav {
  background: rgba(10, 9, 9, 0.6);
  font-size: 2em;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  color: white;
}

.menu-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-bottom: 0;
}

.menu-nav li {
  padding: 0 20px;
}

.menu-nav a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#0ef4f4, #0ef4f4);
  background-size: 0 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.menu-nav a:hover {
  background-size: 100% 1px, auto;
}

.jumbotron {
  text-align: center;
  height: 100vh;
  margin-bottom: 0;
}

.jumbotron-content {
  width: 100vw;
  opacity: 1;
}

.jumbotron-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.jumbotron-header {
  padding-top: 25vh;
  color: white;
  font-size: 5em;
  text-shadow: 1px 1px;
}

.jumbotron-header2 {
  padding-top: 10px;
  color: white;
  font-size: 5em;
  text-shadow: 1px 1px;
}

.cursor-hide {
  opacity: 0;
  transition: 0.2s;
}

.line1 {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background: #0ef4f4;
}

.bounce {
  font-size: 64px;
  color: #0ef4f4;
  justify-self: end;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.aboutme {
  color: white;
  height: 70vh;
  padding: 20px 0;
  overflow: hidden;
  letter-spacing: 1px;
}

.aboutme p {
  font-size: 1.2em;
}

.aboutme-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.div-img {
  width: 100%;
  height: 420px;
  background: url("./images/pg-photo.jpg") center;
  background-size: cover;
  border-radius: 50%;
  flex: 35%;
  margin-right: 5%;
}

.about-me-info {
  flex: 65%;
}

.aboutme-header {
  text-align: center;
  padding-top: 10%;
  color: #0ef4f4;
  font-size: 64px;
}

.skills-container .row .col {
  text-align: center;
}

.skills-container {
  height: auto;
}

.skills-header {
  text-align: center;
  padding: 30px 0;
  margin: 70px 0;
  color: #0ef4f4;
  font-size: 64px;
}

.skills {
  background: url("images/black-white.jpg") no-repeat center fixed;
  color: white;
  height: 100vh;
  overflow: hidden;
  padding: 50px;
}

.skills .row {
  padding: 50px 0;
}

.skills i {
  font-size: 150px;
}

.projects {
  height: 100vh;
  background: url("images/comp-grey.jpg") center fixed;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

.myprojects {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.projects-header {
  color: #0ef4f4;
  font-size: 64px;
  padding-top: 70px;
  text-shadow: 2px 2px black;
}

.project-header {
  padding: 10px 3px;
}

.project {
  margin-top: 60px;
  color: #0ef4f4;
  text-align: center;
  border-radius: 3%;
  background: #212121;
  transition: 0.7s;
}

.project1 {
  background: url("images/country-search.png");
}

.project2 {
  background: url("images/paper-scissors.png") center;
}

.project1, .project2 {
  background-size: cover;
  height: 400px;
  width: 400px;
  border-radius: 3%;
  margin: 4px;
}

.project:hover {
  transform: scale(1.05);
}

.ninja {
  transition: 0.7s;
  text-shadow: 0.3px 0.3px black;
  text-align: center;
  height: 100%;
  width: 100%;
  background: rgba(33, 33, 33, 0.7);
  border-radius: 3%;
  display: none;
}

.ninja p {
  padding: 30% 15px;
  font-size: 1.5em;
}

.project:hover .ninja {
  display: block;
  transition: 0.7s;
}

.a:link, .a:visited, .a:active, .a:hover {
  text-decoration: none;
  color: #0ef4f4;
}

.footer {
  color: white;
  background: #212121;
  height: 30vh;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer-header {
  color: #0ef4f4;
  font-size: 4em;
  padding: 60px 0 15px 0;
}

.line2 {
  background: #0ef4f4;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50px;
}

.footer-container {
  font-size: 2em;
}

.facebook a {
  color: #4267b2;
}

.linkedin a {
  color: #0077B5;
}

.github a {
  color: white;
}

.mail {
  text-align: right;
}

.first {
  border-right: 1px solid #0ef4f4;
  padding-right: 60px;
}

.third {
  border-left: 1px solid #0ef4f4;
  padding-left: 60px;
}

.third p {
  display: inline-flex;
  margin: 0 20px;
  transition: 0.5s;
}

.third p:hover {
  transform: scale(1.5);
  transition: transform 500ms;
}

.footer i {
  padding-right: 15px;
}

/*# sourceMappingURL=styles.css.map */
