.footer {
	color: white;
	background: $black;
	height: 30vh;
	text-align: center;
}
.footer p {
	margin: 0;
}
.footer-header
 {
 	color: $blue;
 	font-size: 4em;
 	padding: 60px 0 15px 0;
 }
 .line2 {
 	background: $blue;
 	width: 40%;
 	margin-left: 30%;
 	margin-right: 30%;
 	margin-bottom: 50px;
 }

 .footer-container {
 	font-size: 2em;
 }
 .facebook a {
 	color: #4267b2;
 }
 .linkedin a {
	 color: #0077B5;
 }
 .github a {
	 color: white;
 }
 .mail {
 	text-align: right;
 }
.first {
	border-right: 1px solid $blue;
	padding-right: 60px; 
}
.third {
	border-left: 1px solid $blue;
	padding-left: 60px;
}
.third p {
	display: inline-flex;
	margin: 0 20px;
	transition: .5s;
}
.third p:hover {
	transform: scale(1.5);
	transition: transform 500ms;
}
.footer i {
	padding-right: 15px;
}