.header-nav {
	background: rgba(10, 9, 9 , 0.6);
	font-size: 2em;
	text-align: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	color: white;
}


.menu-nav {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding: 0 5%;
	margin-bottom: 0;
}
.menu-nav li {
	padding: 0 20px ;
}
.menu-nav a {
	text-decoration: none;
	color: white;
	background-image: linear-gradient($blue, $blue);
	background-size: 0 1px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all .2s ease-out;
}
.menu-nav a:hover {
	background-size: 100% 1px, auto;
}